
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetTextBoxValue</title>
</head>
<body>
    <div> 
        <b>Passing Parameter have done!</b>
    </div>
</body>
</html>
